<ion-content>
  <ion-toolbar class="container">
    <img class="size-img" src="../../../assets/image/Verde-Círculo-de-Folhas-Meio-Ambiente-Logotipo 3.svg"
      alt="Logo" />
  </ion-toolbar>

  <ion-grid class="container">
    <div class="space-button font">
      <ion-button class="button-home" color="secondary" (click)="aripuca()">
        Aripuca
      </ion-button>
    </div>
  </ion-grid>

  <div class="link-nav">
    <ion-nav-link (click)="backPage()">Voltar</ion-nav-link>
  </div>
</ion-content>
