<ion-header class="header-container">
  <ion-title class="text-header">Foz do Iguaçu - BR</ion-title>
</ion-header>

<ion-content>
  <ion-toolbar class="container">
    <img class="size-img" src="../../../assets/image/image-foz.svg"
      alt="Logo" />
  </ion-toolbar>

  <ion-grid class="container">
    <div class="space-button font">
      <ion-button class="button-home" color="success" (click)="turismoFoz()">
        Pontos Turísticos
      </ion-button>
      <ion-button class="button-home" color="success" (click)="gastronomiaFoz()">
        Gastronomia
      </ion-button>
    </div>
  </ion-grid>

  <div class="link-nav">
    <ion-nav-link (click)="backPage()">Voltar</ion-nav-link>
  </div>
</ion-content>
