<ion-header class="header-container">
  <ion-title class="text-header">Cataratas</ion-title>
</ion-header>

<ion-content>
  <ion-toolbar class="container">
    <img class="size-img" src="../../../assets/image/cataratas.svg"
      alt="Logo" />
  </ion-toolbar>

  <ion-grid class="container">
    <ion-card class="card-position">
      <ion-card-header>
        <ion-card-title class="font-title">Como chegar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Agência de Turismo</p>
        <p>Uber</p>
        <p>Linha de ônibus 120</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-position">
      <ion-card-header>
        <ion-card-title class="font-title">Quanto custa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Vendas somente online</p>
        <p><a href="https://cataratasdoiguacu.com.br/">https://cataratasdoiguacu.com.br/</a></p>
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <div class="position-ideal-text">
    <ion-title>Ideal</ion-title>
    <img class="position-img" src="../../../assets/image//access.svg" />
  </div>

  <div class="link-nav">
    <ion-nav-link (click)="backPage()">Voltar</ion-nav-link>
  </div>
</ion-content>
