.container {
  display: grid;
  justify-content: center;
  top: 2rem;

  .size-img {
    max-width:150px;
    width: auto;
  }

  .space-button {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: 8rem;

    .button-home {
      margin: 1rem;
      width: 15rem;
      height: 2.5rem;
    }
  }
}

.link-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  text-decoration: underline #000;
}
