<ion-content>
  <ion-toolbar class="container">
    <img class="size-img" src="../../../assets/image/Verde-Círculo-de-Folhas-Meio-Ambiente-Logotipo 3.svg"
      alt="Logo" />
  </ion-toolbar>

  <ion-grid class="container">
    <div class="space-button font">
      <ion-button class="button-home" color="success" (click)="fozIguacu()">
        Foz do Iguaçu - BR
      </ion-button>
      <ion-button class="button-home" color="danger" (click)="ciudadLeste()">
        Ciudad Del Leste - PY
      </ion-button>
      <ion-button class="button-home" color="secondary" (click)="puertoIguazu()">
        Puerto Iguazú - AR
      </ion-button>
    </div>
  </ion-grid>
</ion-content>
